<div class="col-sm card" style="width: 18rem;">
  <%= image_tag(product.image_url, class: "img-fluid card-img-top") %>
  <div class="card-body">
    <% cache product do %>
    <a href="#"><h1 class="card-title"><%= product.name %></h1></a>
    <p class="card-text"><%= product.description %></p>
    <strong class="card-text">$<%= '%.2f' % (product.prices/100) %></strong>
    <% end %>
  </div>
</div>
